/*main css*/
html,.inner-wrapper,.sidebar-wrapper{ 
	height: 100%; 	
}
body{
	margin: 0 auto;   
	background: transparent;/*white -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, white), color-stop(0.25, purple), color-stop(1, black));*/
}
.modal { max-height: 90%; max-width:90%; }
.clear-fixed{
	clear: both;
}
.row,.col,.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12,.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l0,.l11,.l12 {
	margin: 0px !important;
	padding:0px !important;
}
.main-wrapper{
	width: 100% !important;
	height: 100% !important;
}
.inner-wrapper{
	height: 100%;
	width: 100%;
	padding-left: 70px;
}
.full-width{
	width: 100%;
}
/*Sidebar Area*/
.sidebar-wrapper{
	position: fixed;
    padding: 0 !important;
    width: 70px;
    z-index: 999;
    height: 100%;
    margin: 0 !important;
    background: #6A2C91;
}
.inner-sidebar-large{
	background: black;
    height: 100%;
}
.sidebar-menu li{
	height: 50px;
}
.sidebar-menu li.active{
	border-left: 2px solid yellow;
	color: yellow;
}
.logo{
    background-position: 5px 2px;
    width: 73px;
    height: 70px;
    background-size: 219px 75px;
    transform: translate(2%,7%);
    z-index: 5;
    position: relative;
    top: -9px;
    left: -5px;
    background-color: #6A2C91;
}
.menu-btn{
    background-position: -128px -193px;
    width: 39px;
    height: 40px;
    margin: 0px !important;
    position: absolute;
    left: 50px;
    top: 15px;
    box-shadow: none;
    padding: 0;
    z-index: 99;
    cursor: pointer;
}
.sprite{
	background-image: url(../appimg/sprite.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}
.sprite-logo{
	background-image: url(../appimg/m6-timetracker.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}
.logo-img{
	background-position: -203px -73px; 
	width: 62px;
	height: 59px;
    transform: translate(0,10%);
    z-index: 5;
    position: relative;
}
.nav-img-footer{
	background-position: -133px -56px; 
	width: 36px;
	height: 38px;
	position: fixed;
    bottom: 10px;
    left: 15px;
}
p.nav-text.footer-text{
	display: inline;
    position: relative;
    top: -12px;
    text-indent: -1px;
    font-size: 13px;
}
p.nav-text.footer-text:hover{color: white;}
.nav-text{
	margin-left: 39px;
    color: white;
    width: 200px;
    text-align: left;
    display: none;
}
.nav-text:hover{
	color: orange;
}
.nav-img-schedule{
	background-position: -12px -203px; 
	width: 34px;
	height: 34px;
	margin-left: 18px;
	transform: translate(0,30%);
}.nav-img-schedule:hover,.active .nav-img-schedule{ background-position: -77px -202px;  }
.nav-img-project{
	background-position: -15px -152px; 
	width: 34px;
	height: 34px;
	margin-left: 18px;
	transform: translate(0,30%);
}.nav-img-project:hover,.active .nav-img-project{ background-position: -76px -153px; }
.nav-img-my-record{
	background-position: -15px -101px; 
	width: 34px;
	height: 34px;
	margin-left: 18px;
	transform: translate(0,30%);
}.nav-img-my-record:hover,.active .nav-img-my-record{ background-position: -78px -103px; }
.nav-img-team-record{
	background-position: -13px -55px; 
	width: 34px;
	height: 34px;
	margin-left: 18px;
    transform: translate(0,30%);
}.nav-img-team-record:hover,.active .nav-img-team-record{background-position: -76px -56px; }
.nav-img-setting{
	background-position: -12px -10px; 
	width: 34px;
	height: 34px;
	margin-left: 18px;
	transform: translate(0,30%);
}.nav-img-setting:hover,.active .nav-img-setting{ background-position: -76px -10px; }
.sidebar-menu{
	width: 100%;
	text-align: center;
}
.menu-item{
	width: 100%;
	line-height: 2.5;
	text-align: center;
}.menu-item:hover{ border-left: 2px solid yellow;}
.right-padded{
    padding-left: 1.5em;
    padding-right: 3em;
}
.collection-item{
	width: 100%;
}
.side-nav .collection-item{
	/*background: black !important;*/
}
/*Header or tap nav Area*/
.header-wrapper{
	/*width: 100%;*/
	/*height: 70px !important;*/
	/*margin-bottom: 10px;*/
	/*z-index: 29;*/
	/*position: fixed;*/
}
.navbar-fixed{ 
	/*height: 70px !important;*/
}
.nav-wrapper{
	background: #F5F5F0;
	height: 70px !important;
	padding-left: 60px;
}
.nav-wrapper .right{
	height: 70px !important;
}
.valign-wrapper1{
	position: relative;
	right: 50px;
}
.team-name{
    color: #692B91 !important;
	text-indent: 30px;
    z-index: 5;
}
.avatar-group{
	padding: 0px 10px;
}
.avatar-group:hover{
	background: #D3DCE2;
}
.avatar2{
	position: relative;
    top: 30%;
    transform: translate(0,-50%);
    margin-right: 10px;
}
.greeting a{
	font-size: 13px !important;
}
.nav-img-signout{
	background-position: -365px -217px; 
	width: 31px;
	height: 31px;
}
/*content Area*/
.content-wrapper{
	width: 100%;
	padding: 5px 5px 5px 70px;
	background: transparent;/* #EDECEC;*/
	position: relative;
}
.timesheet{
	padding: 10px 20px;
	background: transparent;
}
.page-title{
	text-align: left;
}
/*Table Area*/
.compressed-table td{
	padding: 2px !important;
}
.compressed-table span{
	position: relative;
    top: -6px;
}
.name {
    line-height: 20px;
    margin-top: 10px !important;
}
.totaltime{
    margin-top: 5px !important;
}
.total-accu{
	padding:5px !important;
	margin-top:7px!important;
}
.timebar{
    height: 60px;
    margin-top: 5px !important;
}
.expand-header{
	height: 60px;
	padding-right: 5px !important;	
}
.expand-body{
	background: #fafafa;
	padding: 0px 10px !important;
}
.collapsible{
    box-shadow: 0 0 0 0 rgba(0,0,0,0),0 0 0 0 rgba(0,0,0,0) !important;
}
.details-time {
    padding: 25px !important;
}
.pricks{
	text-align: center;
}
.name{
	vertical-align: top;
	padding-left: 10px;
}
.head-title{
	position: relative;
	top: 18px;
}
.no-curve{ border-radius: 0px;}
.tab-group {margin-left: 15px;}
.success{ 
    background: #A5D6A7 !important;
    color: #ffffff;
    padding: 30px 20px 20px 20px !important;
    text-align: center ;
}
.error{
    padding: 20px !important;
    color: #ffffff;
    text-align: center;
}
/*Override color*/
blockquote{
	border-left:5px solid #743B98 !important;
}
.work{
	background: #45e05f !important;
}
.break{
	background: #2604F1 !important;
}
.overtime{
    background: #037922 !important;
}
.overtime-text{
    color: #037922 !important;
}
.theme{
	background: #6A2C91 !important;
}
.theme-text{
	color: #6A2C91 !important;
}
.theme-text:hover, .theme-text.active{
	color: orange !important;
}
.warning{
	background: #EFBAB6 !important;
}
.none{
	background: #734F77 !important;
}
.gray{
	background: #f5f7f8 !important;
}
.in{
	background-color: #eeeeee !important;
}
.collaps {
    margin-top: 0rem !important;
    margin-bottom: 0.5rem !important;
}
.not-active {
   pointer-events: none;
   cursor: default;
}

/* homepage */
.home-logo{
	background-image: url(../appimg/logo2.png);
	background-repeat: no-repeat;
    background-size: 200px 60px !important;
	background-position: 38px 5px;
}
.home-nav-avatar{
	margin-right: 10px;
	margin-left: 10px;
}
.home-nav{
	margin-right: 10px;
}
.home-nav button{
	margin-left: 10px;
}
.home-nav ul{
	margin-top: 3px;
}
.home-nav ul li{
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.container-center {
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: -29px;
}
.hgroup{
	margin-bottom: 60px !important;
}
.description{
	padding: 20px 100px 10px 100px;
}
.card-padded{
	padding: 30px !important;
	border-right:0px !important;
}
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/*team project*/
.create-project{
	padding: 20px;
}
/*sched*/
.fc-center h2{ font-size: 3vh; color: #6A2C91;}
.fc-event{cursor:-webkit-grab;}
.fc-axis{color: #6A2C91;}
.fc-day-header{background: #6A2C91;color: white;}
.event-panel{ margin: 0 auto !important;padding: 0px 10px !important}
.draggable div{ margin: 4px 0px !important; padding: 2px 5px !important;}
.draggable div.fc-event{/*margin: 4px 2px !important;*/
                padding: 2px 5px !important;
                height: 40px;
                border-radius: 0;
        }
.drop_div { width: 100%; background: #6A2C91;}
.drop_div span{ position: relative;top: -8px;}
.input-field {
            position: relative;
            margin-top: 0rem; 
            margin-bottom: 0.5rem;
        }
input.select-dropdown{
          color: white;
          text-transform: uppercase;
          line-height: normal !important;
          text-align: center;
          height: 36px !important;
        }
.caret{ 
          color: white !important;
          font-weight: bolder;
          top: 11px !important;
          right: 10px !important;
        }
.padded div{ padding: 10px !important;}
.bg-gradient{  
        background: rgba(179,220,237,1);
        background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 43%, rgba(188,224,238,1) 53%, rgba(188,224,238,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(43%, rgba(41,184,229,1)), color-stop(53%, rgba(188,224,238,1)), color-stop(100%, rgba(188,224,238,1)));
        background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 43%, rgba(188,224,238,1) 53%, rgba(188,224,238,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 43%, rgba(188,224,238,1) 53%, rgba(188,224,238,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 43%, rgba(188,224,238,1) 53%, rgba(188,224,238,1) 100%);
        background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 43%, rgba(188,224,238,1) 53%, rgba(188,224,238,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
        background-repeat: no-repeat;
        background-size: 100% 100%;
   	}
 .bg-gray{
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(193,191,234,1) 43%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 83%, rgba(206,199,236,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(43%, rgba(193,191,234,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(83%, rgba(206,199,236,1)), color-stop(100%, rgba(206,199,236,1)));
    background: -webkit-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(193,191,234,1) 43%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 83%, rgba(206,199,236,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(193,191,234,1) 43%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 83%, rgba(206,199,236,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(235,233,249,1) 0%, rgba(193,191,234,1) 43%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 83%, rgba(206,199,236,1) 100%);
    background: linear-gradient(135deg, rgba(235,233,249,1) 0%, rgba(193,191,234,1) 43%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 83%, rgba(206,199,236,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#cec7ec', GradientType=1 );
  }