/*large Screens*/
@media only screen and (min-width: 993px) { /*569*/
	.home-img{
		width: 120px;
    	height: 120px;
    	margin: 5px 30px;
	}
	.weekly-cal{ max-width: 300px !important}
	.space{ padding-left:15px !important;}
	
} /*end large*/
/*medium screens*/
@media only screen and (max-width: 992px) {
	.bg-img{ background-image: none !important;}
	.nav-text{ display: block !important;margin-left: 0px !important;font-size: 13px;color: #6A2C91;}
	.content-wrapper{ padding: 0px;}
	.timesheet{padding: 10px !important;}
	.fc-center h2{ font-size: 150% !important;}
	.sprite-logo{margin-left: 60px !important;}
	.inner-wrapper{ padding-left: 0px;}
	.expand-header{ height: 90px; padding:0 5px !important; }
	.logo{
		background-position: 5px 2px;
	    width: 215px;
	    height: 70px;
	    background-size: 219px 75px;
	    z-index: 5;
	    position: relative;
    	left: -52px;
	}
	.sidebar-wrapper{
		position: static;
	    padding: 0 !important;
	    background: #6A2C91 !important;
	    width: 100%;
	    margin: 0 !important;
	    height: 70px !important;
	}
	.dashboard.button-collapse{
	    float: right !important;
	    position: absolute;
    	top: -5px;
    	right: 10px;
    	height: 0px;
    }
	.dashboard.button-collapse i{ font-size: 50px; }
	/*homepage*/
	.home-logo{ background-position: 13px 5px !important; }
	.home-auth.button-collapse{color: #6A2C91; }
	.home-guest.button-collapse{color: #6A2C91;}
	.home-img {width: 100px !important; height: 100px !important; margin: 0px; }
	/*support*/
	.support { position: static !important;}
	.support-main .collapsible-header {font-size: 3vw !important;}
	/*my weekly*/
	.record-expand-header{height: 105px !important;padding:0 5px !important; }
	.weekly-cal,.week-group { min-width: 267px !important; float:right !important;}
	/*team activity*/
	.expand-header{ height: 60px;}
    /*sched*/
    div.event-panel{ padding: 0px !important};
}/*end medium*/

/*mobile screens*/
@media only screen and (max-width: 600px)  { /*480*/
	h3{ font-size: 20px; }
	h4{ font-size: 18px; }
	h6{ font-weight: bolder;}
	.bg-img{ background-image: none !important;}
	.timesheet{ padding: 10px !important;}
	.container-center{ margin-top: 0px; }
	.content-wrapper{ padding: 0px;}
	.description{ padding: 10px 1px 10px 1px; font-size: 11px; }
	.hgroup{ margin-bottom: 0px !important;}
	.sprite-logo{margin-left: 60px !important;}
	.home-img {width: 86px !important; height: 86px !important; margin: 0px; }
	.full-width-on-small{ width: 100% !important; margin-bottom: 10px !important; text-indent: 0px; text-align: center; }
	.clear-on-small{ clear: both; position: static !important; float: none;}
	.home-logo{ background-position: 13px 5px !important; }
	.home-auth.button-collapse{ float: right !important;color: #6A2C91;top: -66px !important;right: 14px; }
	.home-guest.button-collapse{ float: right !important;color: #6A2C91;top: -66px !important;right: 14px;}
	/*team registration*/
	.proceed-btn{ position: static !important;}
	/*support*/
	.support { margin-top: -50px !important;position: static !important;}
	.support-main .collapsible-header {font-size: 3vw !important;}
	/*dashboard*/
	.dashboard.button-collapse{ float: right !important;position: absolute;	}
	.dashboard.button-collapse i{ font-size: 50px; }
	.sidebar-wrapper{ height: 70px !important; }
	.nav-text{ display: block !important;margin-left: 0px !important;font-size: 13px;color: #6A2C91;text-indent: 1px;}
	.activity-calendar{float: none !important;}
	.nextday{float: right;}
	.timebar { height: 52px; margin-top: 45px !important;}
	.my-timebar { margin-top: 8px !important;}
	.menu-btn{ display: none;}
	.head-title,.page-title{ text-align: center;text-indent: 0px !important;}
	.expand-header{ height: 90px; padding:0 5px !important; }
	.activity-bar{ height: 25px !important; }
	/*teamproject*/
	.page-title{margin-bottom: 0px !important;}
	.project-expand-header{ height: 100px;}	
	.space{ padding-left: 0px !important;}
	.pagination{text-align: center;}
	select.browser-default { margin-bottom: 15px;}
	.padded{ text-indent: 0px !important;padding:  0px !important;}
	.notify-checkbox{ position: static !important; }
	.create-project{ height: 100%; margin-top: -37.5%; }
	.modal { width: 90%;}
	.button-group{ width: 100% !important;margin-top: 17px !important;}
	/*myprofile*/
	.profile-wrapper{ text-align: center;height: 100% !important;}
	.frame{float: none !important;}
	.img-title{ text-align: center;}
	.cancel,.submit { width: 100%; margin-bottom: 9px; }
	/*weekly monthly*/
	.record-expand-header{height: 81px !important;padding:0 5px !important; }
	.prevweek{margin-right: 0px!important;}
	.nxtweek {margin-left: 0px !important;}
	.weekly-cal{ margin: 5px 0px !important;}
	.totals{text-align: center !important;}
	.week-group{ margin-top: 0px !important;}
	.daily-group {width: 100% !important;margin-top: 10px !important;}
	.tab-group { margin-left: 15px !important; margin-top: 35px;}
	.total-accu{ text-align: center;}
	.fixed-action-btn{ right: 10px !important;}
	/*team-daily*/
	.datepicker-button{ width: 83% !important;}
	/*team setting*/
	.info .collection-item {height: 70px !important; float: left !important;}
	.member .collection-item {height: 170px !important;}
	.admin .collection-item {height: 190px !important;}
	.setting-content{ display: block !important;text-align: left !important;}
	.ilabel{float: left !important;width: 100% !important;}
	.admin .collection-item .secondary-content,.info .collection-item .secondary-content,.member .collection-item .secondary-content{     
		float: left !important;
    	text-align: left !important;
    	position: relative !important;
    	left: 1px;
    	top: 0px !important;
    }
    /*team sched*/
    div.event-panel {padding: 0px !important;}
    .draggable{text-align: center;}
    .sa-confirm-button-container,.sa-confirm-button-container button{width: 100%;}
}/*end mobile